<header class="container-fluid px-0  mx-0 bg__navbar fixed-top">
    <nav class="navbar navbar-expand-lg px-3 ">
        <div class="container-fluid px-0">
          <a class="navbar-brand fs-2 fw-bold text-light"  routerLink="/"><img style="width: 60px;"src="http://imgfz.com/i/QDeRMjp.png" alt=""><span class="span-logo"> WShop</span></a>          
          <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">              
              <a class="btn nav-a" routerLink="/"> <i class="fa-sharp fa-solid fa-house pe-2"></i>Inicio</a>              
              <a class="btn nav-a" routerLink="/productos"> <i class="fa fa-truck pe-2"  ></i>Productos</a>              
              <a class="btn nav-a" routerLink="/pagar"> <i class="fa-sharp fa-solid fa-cart-shopping pe-2"  ></i>Carrito</a>           
              <a class="btn nav-a" routerLink="/login" *ngIf="!loginservice.islogeado()"> <i class="fa fa-sign-in pe-2"></i>Iniciar Sesión</a>                             
              <a class="btn nav-a"  *ngIf="loginservice.islogeado()" (click)="logout()" > <i class="fa fa-sign-out pe-2"  ></i>Cerrar Sesión </a>
            </div>
          </div>
        </div>
      </nav>
</header>
