.card__div{
    height: auto;    
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.126) 0px 2px 16px 0px;
}
.card__img{
    position: relative;
}

.card__img .img{
    width: 60%;
    height: 250px;
    display: flex;
    justify-content: center;
    margin: auto;
}
.a__router{
    cursor: pointer;
}
.a__link{
    font-weight: 600;
}

.btn__carrito{ 
    border: #d89581;   
    color: #ffffff;
    background: #212529;
    padding: 5px 5px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.btn__carrito:hover{
    background: #d89581 ;
    color: #fff;
}